* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.task7 {
    width: 100%;
    padding: 40px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(245, 245, 245);
}

#video {
    width: "500";
}